POSTGRES_USER=blog
POSTGRES_PASSWORD=blog_dev_password
POSTGRES_DB=blog
POSTGRES_PORT=55432
DATABASE_URL=postgres://blog:blog_dev_password@localhost:55432/blog?sslmode=disable
BACKEND_PORT=8090
STEAM_ID=
STEAM_WEB_API_KEY=
OSS_ENDPOINT=
OSS_BUCKET=
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_PUBLIC_BASE_URL=
